extends layout

block content
  h1 Submit a Message

  form(method="POST" action="/new")
    label(for="author") Author's Name:
    input(type="text" name="author" id="author")

    label(for="message") Message Text:
    input(type="text" name="message" id="message")

    button(type="submit") Submit
